@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https: //fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Lato", sans-serif;
}

body {
    -webkit-text-size-adjust: none;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 20%;
    padding-right: 30%;
    background-image: url("bg.jpg");
}

br {
    line-height: 1;
}

hr {
    line-height: 1;
}

h1,
h2,
h3 {
    color: #313f47;
    line-height: 1.5;
    margin: 0 0 0.75em 0;
}

h4 {
    font-weight: 450;
    color: green;
    line-height: 1;
    margin: 0 0 0.5em 0;
}

h5,
h6 {
    color: #313f47;
    line-height: 1;
    margin: 0 0 0.5em 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
    text-decoration: none;
}

h1 {
    color: #414f57;
    font-family: "Lato",
        sans-serif;
    font-size: 2.5em;
    letter-spacing: 0.17em;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 0 0.525em 0;
    line-height: 2;
}

h2 {
    font-size: 1.55em;
}

h5 {
    margin: 0 0 0 0;
    line-height: 0.75;
    font-weight: 450;
    font-style: italic;
    f
}

br {
    padding-bottom: 0.3em;
    margin: 0 0 1em 0;
    line-height: 1;
}

p {
    line-height: 1.5em;
    font-weight: 350;
}

ul li {
    margin-left: 5%;
    text-indent: 2.5%;
}

ul li a {
    text-decoration: none;
    text-transform: none !important;
    font-family: "Lato", sans-serif;
    color: #414f57;
    line-height: 1.2;
    text-indent: 150px;
    font-weight: 350;

}

ul li a:before {
    text-decoration: none;
    text-transform: none !important;
}

ul li a:hover {
    color: #ff7496;
}

a.href {
    text-decoration: none;
    font-family: "Lato", sans-serif;
}

p a {
    text-decoration: none;
    font-family: "Lato", sans-serif;
}

.responsive {
    width: 100%;
    height: auto;
    padding: 5%;
}

hr.rounded {
    border-top: 8px solid #cecfd0;
    border-radius: 5px;
}

hr.solid-light {
    border-top: 2px solid #cecfd0;
}

img {
    transition: transform 0.5s ease;
    display: block;
}

label {
    font-family: "Lato", sans-serif;
}

footer p {
    font-family: "Lato", sans-serif;
}
